.site__header {
  background: #7ED321;
  padding: 10px 0;
 .width--constrained {
    align-items: center;
  }
 .site__header--name {
    margin: 0;
    color: white;
  }
  .site__header--login {
    color: white;
  }
}
