* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
